.scrollcontainer {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.95;
  width: 360px;
  margin-bottom: 14px;
}
.scrollcontainer:hover {
  opacity: 1;
}

.scrolltext {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  color: #337ab7;
  font-weight: 600;
  padding: 5px 0px 5px 0px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: catalin-scroll 7s linear infinite;
  -webkit-animation: catalin-scroll 7s linear infinite;
  animation: catalin-scroll 7s linear infinite;
}

@keyframes catalin-scroll {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
