* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1024px;
  min-height: 1200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 60px;
  margin: 60px auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.space {
  height: 80px;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.leftSide {
  display: flex;
  background-color: #dedede;
  flex: 1;
  flex-direction: column;
}

.rightSide {
  display: flex;
  background-color: #21395b;
  flex: 1;
  flex-direction: column;
}

.DetailBox {
  display: flex;
  flex-direction: column;
  background-color: #21395b;
  align-items: center;
  width: 350px;
  margin-right: 0px;
  margin-left: auto;
}

img {
  display: flex;
  border-radius: 50%;
  border: solid 8px #0e8cf1;
  object-fit: cover;
  margin-top: 24px;
}

.textDecoration {
  color: white;
}
